@font-face {
    font-family: Roboto Medium;
    src: url(../fonts/roboto/Roboto-master/Roboto-Medium.ttf);

    font-family: Roboto Bold;
    src: url(../fonts/roboto/Roboto-master/Roboto-Bold.ttf);
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*reset complited*/


body{
  width: 100%;
  height: 100%;
  font-family: Roboto Medium, sans-serif;
}
.index-header{
  width: 100%;
  height: 435px;
  background: #EEE;

  font-size: 18px;
}
.container{
  width: 880px;
  margin:0 auto;
}
.header-nav{
  background: #EEE;
  color: #1E2D33;
}
.index-logo{
  margin-right: 140px;
  margin-top: 27px;
}
.navigation{
  display: inline-block;
}
.navigation li{
  text-decoration: none;
  display: inline;
}
.navigation li{
  margin-left: 35px;
}
.navigation li a{
  text-decoration: none;
  color: black;
  font-size: 14px;
}
.navigation li a:hover{
    color: #FB565A;
}
.navigation li a:active{
    color: #8F8F8F;
}
.current{
    padding-bottom: 2px;
    border-bottom: 2px solid #FF555A;
}
.cart{
  display: inline-block;
  text-decoration: none;
    color: black;
  margin-left: 60px;
  padding-left: 26px;
  font-size: 14px;
  background-image: url("../img/index/cart.png");
  background-repeat: no-repeat;
}
.cart:hover{
    color: #FB565A;
    background-image: url("../img/index/cart-hover.png");
}
.cart:active{
    color: #8F8F8F;
    background-image: url("../img/index/cart-active.png");
    
}
.header-slider{
  background: #EEE;
  margin-top: 70px;
}
.leftside-slider{
  display: inline-block;
  width: 372px;
}
.slider-title{
  display: inline-block;
  margin-bottom: 24px;
  width: 240px;
  font-size: 30px;
  font-weight: 600;
}
.slider-descr{
  display: inline-block;
  font-size: 16px;
  width: 415px;
  color: #1E2D33;
}
.slider-more{
  display: inline-block;
  padding: 15px 70px 15px 70px;
  margin-top: 33px;
  border-radius: 5px;
  background-color: #FF555A;
  color: white;
  font-size: 12px;
  text-decoration: none;
}
.radio-slider{
  display: inline-block;
  margin-left: 38px;
}
input{
  margin: 0px;
}
  .slider-image{
float: right;
  }
.index-products{
  height: 460px;
}
.products-websites{
display: inline-block;
float: left;
}
.products-apps{
display: inline-block;
margin-left: 80px;

}
.products-present{
display: inline-block;
float: right;
}
.products-present, .products-apps, .products-websites{
  margin-top: 80px;
  width: 240px;
}
.products-present h3, .products-apps h3, .products-websites h3{
  font-size: 18px;
  margin: 30px 0px;
}
.products-present p, .products-apps p, .products-websites p{
  font-size: 15px;
  color: #1E2D33;
}
.products-present a, .products-apps a, .products-websites a{
  display: inline-block;
  color: white;
  border-radius: 3px;
  font-size: 12px;
  text-decoration: none;
  padding: 12px 38px;
  margin-top: 30px;
  font-weight: 100;
}
.products-websites a{
background-color: #FF555A;
}
.products-websites a:hover{
background-color: #F6474C;
}
.products-websites a:active{
background-color: #D33235;
}
.products-apps a{
  background-color: #00CB6F;
}
.products-apps a:hover{
  background-color: #00A359;
}
.products-apps a:active{
  background-color: #00914E;
}
.products-present a{
  background-color: #FCC93B;
}
.products-present a:hover{
  background-color: #E4AF0B;
}
.products-present a:active{
  background-color: #CE9C00;
}
hr{
  width: 880px;
}
.index-aboutUs{
  color: #1E2D33;
}
.aboutUs-left{
  display: inline-block;
  width: 580px;
}
.aboutUs-title{
  font-size: 36px;
  color: black;
}
.aboutUs-left p{
  margin-top: 25px;
  font-size: 16px;
  color: #1E2D33;
}
.aboutUs-pre-left{
  margin-top: 55px;
  margin-bottom: 30px;
}
.paragraph{
  font-size: 16px;
  margin-bottom: 30px;
}
.paragraph span{
  color: #FF555A;
  font-family: Myriad Pro Regular, sans-serif;
  font-weight: 600;
  margin-right: 12px;
}
.aboutUs-right{
  display: inline-block;
  float: right;
  width: 240px;
  height: 360px;
    background-image: url(../img/index/since-logo.png);
  background-repeat: no-repeat;
}
.aboutUs-pre-right{
  margin-top: 190px;
  margin-bottom: 30px;
}
.our-clients{
  height: 165px;
}
.glukhanko{
  float: left;
  margin-top: 70px;
}
.htmlAcademy{
  display: inline-block;
  margin-left: 110px;
  margin-top: 50px;
}
.borodinski{
float: right;
margin-top: 45px;
}
.glukhanko, .htmlAcademy, .borodinski{
  opacity: 0.2;
}
.glukhanko:hover, .htmlAcademy:hover, .borodinski:hover{
  opacity: 1;
}
.map{
  height: 415px;
  width: 100%;
  margin-top: 85px;
}
.social{
  margin-top: 80px;
  display: inline-block;
}
.social-vk, .social-fb, .social-inst{
  display: inline-block;
  margin-right: 30px;
  width: 60px;
	height: 60px;
	background: #E2E2E2;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
.social-vk:hover, .social-fb:hover, .social-inst:hover{
  	background: #FF555A;
}
.social-vk, .social-vk:hover{
    background-image: url(../img/index/social-vk.png);
  background-repeat: no-repeat;
  background-position: center;
}
.social-fb, .social-fb:hover{
    background-image: url(../img/index/social-fb.png);
  background-repeat: no-repeat;
  background-position: center;
}
.social-inst, .social-inst:hover{
    background-image: url(../img/index/social-inst.png);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 0px;
}
.lbf{
  display: inline-block;
  margin-left: 60px;
  font-size: 36px;
}
.discounts{
  display: inline-block;
 font-size: 16px;
 margin-left: 310px;
 margin-top: 15px;
 color: #1E2D33;
}
footer{
  padding-bottom: 80px;
}
hr{
    opacity: 0.2;
}


/*CATALOG*/


.catalog-header{
  width: 100%;
  background: #EEE;
    margin-bottom: 83px;
}
.header-title{
  width: 660px;
  height: 160px;
  font-size: 40px;
  color: black;
  margin: 0 auto;
  padding-top: 80px;
  text-align: center;
}
.filter{
    display: inline-block;
    color: #283136;
    font-family: Roboto Medium, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    
    
    width: 240px;
    margin-right: 80px;
}
.block-name{
    font-size: 18px;
    color: black;
    margin-bottom: 22px;
}
.price-picker{
    width: 240px;
    height: 80px;
    background: #f1f1f1;
    margin-bottom: 14px;
    
}
.price-picker-min{}
.price-picker-max{}

.from, .before {
    height: 38px;
    width: 80px;
    background: #f1f1f1;
    margin-left: 6px;
    border-radius: 3px;
    
    outline: none;
    border: none;
    
    
    color: #283136;
    font-family: Roboto Mediume, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;    
    
}
.from{
    margin-right: 12px;
}

.block-mesh{
    margin-top: 53px;
}

.filter-submit{
    display: inline-block;
    text-decoration: none;
    text-align: center;
    border-radius: 3px;
    width: 155px;
    height: 38px;
    background-color: #f1f1f1;
    
    font-family: Roboto Bold, sans-serif;
    font-size: 12px;

    color: black;
}


.sort{
    display: inline-block;
    float: right;

    padding-top: 3px;
    margin-bottom: 54px;
    
    font-family: Roboto Mediume, sans-serif;
    font-size: 12px;
    color: black;
    font-weight: 600;
    
}
.sort-ul{
    display: inline-block;
}
.sort-ul li{
    display: inline;
}
.sort-title{
    margin-right: 41px;
}
.sort-price, .sort-type, .sort-function{
    text-decoration: none; 
    margin-right: 45px;
}

.sort-down{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 11px solid #00CA74;
    
}
.sort-up{
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 11px solid #C1C1C1;
}

.design{
    display: inline-block;
    width: 560px;
    
}
.sunset, .modern-organic-thai, .dovetail{
   
    float: right;
}
.sunset, .modern-organic-thai, .dovetail, .aviator, .forte, .avenue{
    margin-bottom: 110px;
    
    border-top: 30px solid  white;
    border-radius: 3px;
    
    border-image: url(../img/catalog/browser.jpg)100 0;
}
.sunset:hover, .modern-organic-thai:hover, .dovetail:hover, .aviator:hover, .forte:hover, .avenue:hover{
    border-image: url(../img/catalog/browser-active.jpg)100 0;
}

